:root {
  background-color: #1b262c;
}

body {
  background-color: #1b262c;
}

.navbar {
  background-color: #0f4c75 !important;
}

#mainLogo {
  background-color: black;
  color: white;
}

.navbar-item {
  color: white !important;
}

.navbar-burger span {
  background-color: black !important;
}

.navbar-link a {
  color: white !important;
}

.navbar-link {
  color: white !important;
}

#sign-up-button {
  background-color: #3282b8;
  margin-left: 2em;
  margin-right: 1em;
}

#log-in-button {
  background-color: #bbe1fa;
  margin-left: 1em;
  margin-right: 1em;
}

.hero {
  align-items: center !important;
  justify-content: center !important;
}

.box {
  margin: 0 auto;
  padding: 20px;
  margin-top: 3em;
  max-width: 500px;
  width: 100%;
}
