:root {
  background-color: #1b262c;
}

body {
  background-color: #1b262c;
}

.navbar {
  background-color: #0f4c75 !important;
}

#mainLogo {
  background-color: black;
  color: white;
}

.navbar-item {
  color: white;
}

.navbar-burger span {
  background-color: black !important;
}
